.u-section-1 {
  background-color: #b0c4b9;
}
.u-section-1 .u-sheet-1 {
  min-height: 1074px;
}
.u-section-1 .u-product-1 {
  min-height: 732px;
  background-image: none;
  height: auto;
  width: 861px;
  box-shadow: 0 0 29px 4px rgba(128,128,128,1);
  margin: 152px auto 0 76px;
}
.u-section-1 .u-container-layout-1 {
  padding: 0;
  background-color: #fff;
}
.u-section-1 .u-image-1 {
  width: 126px;
  height: 30px;
  margin: 25px auto 0 35px;
}
.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 15px auto 0 44px;
  color: #bababa;
}
.u-section-1 .u-image-2 {
  width: 457px;
  height: 707px;
  margin: 28px 0px -120px 98px;
}
.u-section-1 .u-group-1 {
  width: 454px;
  min-height: 830px;
  height: auto;
  box-shadow: 0 0 37px 2px rgba(128,128,128,1);
  margin: -830px 0 60px auto;
  background-color: #fff;
}
.u-section-1 .u-container-layout-2 {
  padding-bottom: 0;
  padding-top: 0;
  background-color: #fff;
}
.u-section-1 .u-text-2 {
  margin: 48px 141px 0 44px;
}
.u-section-1 .u-form-1 {
  height: 431px;
  width: 403px;
  margin: 57px auto 0;
}
.u-section-1 .u-label-1 {
  text-transform: uppercase;
}
.u-section-1 .u-label-2 {
  text-transform: uppercase;
}
.u-section-1 .u-form-group-3 {
  margin-left: 0;
}
.u-section-1 .u-label-3 {
  text-transform: uppercase;
}
.u-section-1 .u-form-group-4 {
  margin-left: 0;
}
.u-section-1 .u-label-4 {
  text-transform: uppercase;
}
.u-section-1 .u-btn-1 {
  text-transform: uppercase;
  background-image: none;
}
.u-section-1 .u-group-elements-1 {
  width: 289px;
  min-height: 29px;
  height: auto;
  margin: -17px auto 0;
  margin-top: 45px;
}
.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 0 0 159px;
}
.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  margin: -24px 155px 0 0;
  color: #bababa;
}
.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  box-shadow: 0 0 19px 0 rgba(128,128,128,0.9);
  margin: 103px auto 0;
  padding: 35px 110px 35px 110px;
  background-color: #b0c4b9;
  margin-top: 92px;
  font-size: 25px;
  color: #fff;
}
img.fr-view {
  position: relative;
  max-width: 100%; }
  img.fr-view.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top; }
    img.fr-view.fr-dib.fr-fil {
      margin-left: 0;
      text-align: left; }
    img.fr-view.fr-dib.fr-fir {
      margin-right: 0;
      text-align: right; }
  img.fr-view.fr-dii {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    max-width: calc(100% - (2 * 5px)); }
    img.fr-view.fr-dii.fr-fil {
      float: left;
      margin: 5px 5px 5px 0;
      max-width: calc(100% - 5px); }
    img.fr-view.fr-dii.fr-fir {
      float: right;
      margin: 5px 0 5px 5px;
      max-width: calc(100% - 5px); }

span.fr-img-caption.fr-view {
  position: relative;
  max-width: 100%; }
  span.fr-img-caption.fr-view.fr-dib {
    margin: 5px auto;
    display: block;
    float: none;
    vertical-align: top; }
    span.fr-img-caption.fr-view.fr-dib.fr-fil {
      margin-left: 0;
      text-align: left; }
    span.fr-img-caption.fr-view.fr-dib.fr-fir {
      margin-right: 0;
      text-align: right; }
  span.fr-img-caption.fr-view.fr-dii {
    display: inline-block;
    float: none;
    vertical-align: bottom;
    margin-left: 5px;
    margin-right: 5px;
    max-width: calc(100% - (2 * 5px)); }
    span.fr-img-caption.fr-view.fr-dii.fr-fil {
      float: left;
      margin: 5px 5px 5px 0;
      max-width: calc(100% - 5px); }
    span.fr-img-caption.fr-view.fr-dii.fr-fir {
      float: right;
      margin: 5px 0 5px 5px;
      max-width: calc(100% - 5px); }

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
b{
  font-weight: inherit;
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
img {
  border-style: none;
}
input {
  color: inherit;
  font: inherit;
  margin: 0;
}
ul,
ol {
  padding-left: 20px;
}

.u-btn {
  display: table;
  cursor: pointer;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  text-transform: inherit;
  font-style: inherit;
  font-weight: inherit;
  text-decoration: none;
  border: 0 none transparent;
  outline-width: 0;
  background-color: transparent;
  margin: 0;
  -webkit-text-decoration-skip: objects;
  font-style: initial;
  white-space: nowrap;
  -webkit-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  text-align: center;
  padding: 10px 30px;
  border-radius: 0;
  align-self: flex-start;
}
.u-form-horizontal {
  display: flex;
  flex-flow: row;
  align-items: center;
  flex-grow: 1;
}
.u-input {
  display: block;
  width: 100%;
  padding: 10px 0px;
  background-image: none;
  background-clip: padding-box;
  border: none;
  border-radius: 3px;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  background-color: transparent;
  color: inherit;
  height: auto;
}
.u-form-horizontal .u-form-group:not(.u-label-top) label,
.u-form-horizontal .u-form-group:not(.u-label-top) input,
.u-form-horizontal .u-form-select-wrapper,
.u-form-horizontal .u-form-radio-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  flex-grow: 1;
}
.u-form-vertical {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
.u-form-vertical.u-form-spacing-31 {
  margin-left: -31px;
  width: calc(100% +  31px);
}
.u-form-vertical.u-form-spacing-31 .u-form-group {
  margin-bottom: 31px;
  padding-left: 31px;
}
.u-form-vertical .u-form-group {
  width: 100%;
}
.u-form-vertical .u-label-left {
  display: flex;
}
.u-form-vertical .u-label-left label {
  flex: none;
  width: 100px;
}
.u-form-vertical .u-form-partition-factor-2 {
  width: 50%;
}
.u-form {
  position: relative;
  font-size: 1rem;
  height: auto !important;
}
.u-form-group {
  text-align: start;
}
.u-label {
  font-weight: normal;
}
.u-form ::placeholder {
  opacity: 0.5;
}
.u-form :-ms-input-placeholder {
  opacity: 1;
}
.u-form-horizontal .u-form-submit {
  margin-right: 0 !important;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  height: auto;
  min-height: 100%;
}
section > *,
.u-sheet > *,
.u-section-row > * {
  position: relative;
}
base {
  display: none;
}
a {
  color: #259bca;
  text-decoration: none;
}
a:hover {
  color: #0676a4;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.u-image{
  object-fit: cover;
  display: block;
  vertical-align: middle;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
img.u-image{
  overflow: hidden;
}
.u-back-image.u-image-contain,
.u-image.u-image-contain {
  object-fit: contain;
  background-size: contain;
}
.u-back-image.u-image-tiles,
.u-image.u-image-tiles {
  background-size: initial;
  background-repeat: repeat;
  background-position: top left !important;
}
.u-text .u-image {
  display: inline-block;
}
.u-post-content .u-image {
  margin-bottom: 0.5rem;
}
.u-image-circle.u-image {
  border-radius: 50% !important;
}
.u-image-square {
  border-radius: 0;
}
[data-post-link],
[data-href] {
  cursor: pointer;
}
.u-sheet {
  position: relative;
  margin: 0 auto;
}
.u-xl-mode .u-sheet {
  width: var(--theme-sheet-width-xl);
}
.u-xxl-mode .u-sheet {
  width: var(--theme-sheet-width-xxl);
}
.u-sheet .u-sheet {
  width: 100% !important;
}
.u-container-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  transition-duration: inherit;
}
.u-container-layout > * {
  position: relative;
}
html {
  font-size: 16px;
}
.u-body {
  font-size: 1rem;
  line-height: 1.6;
}
h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  font-weight: 500;
  color: inherit;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 1.125rem;
}
h6 {
  font-size: 1.125rem;
}
p {
  margin-top: 0;
  padding: 0;
  margin-bottom: 0.5rem;
}
.u-layout-horizontal {
  position: relative;
  overflow: hidden;
}
.u-layout-horizontal .u-repeater,
.u-layout-horizontal .u-gallery-inner {
  width: 100%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  scrollbar-width: none;
}
.u-layout-horizontal .u-repeater::-webkit-scrollbar,
.u-layout-horizontal .u-gallery-inner::-webkit-scrollbar {
  display: none;
}
.u-layout-horizontal .u-gallery-inner {
  white-space: nowrap;
}
.u-layout-horizontal .u-repeater {
  grid-auto-flow: column;
  grid-auto-rows: 100%;
}
.u-layout-horizontal .u-gallery-item {
  height: 100%;
  display: inline-block;
  white-space: normal;
}
.u-layout-horizontal .u-gallery-item:last-child {
  margin-right: 0 !important;
}
.u-layout-horizontal .u-back-slide {
  display: inline-block;
  width: -webkit-fit-content;
  width: fit-content;
}
.u-layout-horizontal .u-back-image {
  width: auto;
}
.u-product {
  display: flex;
}
.u-body {
  font-family: 'Open Sans',sans-serif;
}
h1,h2,h3,h4,h5,h6{
  font-family: Roboto,sans-serif;
}
.u-custom-font.u-text-font {
  font-family: 'Open Sans',sans-serif !important;
}
.u-custom-font.u-heading-font {
  font-family: Roboto,sans-serif !important;
}
        .u-body
        {
        --theme-sheet-width-xl: 1140px;
        --theme-sheet-width-lg: 940px;
        --theme-sheet-width-md: 720px;
        --theme-sheet-width-sm: 540px;
        --theme-sheet-width-xs: 340px;
        }  
